header{
    background-color: rgb(206, 255, 231);
    height: 10%;
    width: 100%;
}
#headerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
#headerContent img{
    height: 10vh;
}
#headerContent p{
    font-size: 2.5vh;
}

body{
    margin: 0px;
}