header{
    background-color: #392818;
    height: 10%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
#headerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
#logo{
    height: 10vh;
}
#headerContent p{
    font-size: 2.5vh;
    color: aliceblue;
}
#arrow{
    height: 6vh;
    transition: transform 0.5s;
}

body{
    margin: 0px;
    background-color: whitesmoke;
    height: 200vh;
}

footer{
    width: 100%;
    height: 10%;
    background-color: #392818;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
#footerContent ul{
    color: aliceblue;
}

/*NON SELECTABLE ITEMS*/
#login{
    user-select: none;
}
img{
    user-select: none;
}

/*CATEGORIES*/
    #categories{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    height: 5vh;
}
#categories a{
    text-decoration: none;
    color: inherit;
}

/*SIDE MENU*/
#sideMenu{
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    z-index: 2;
    background-color: rgb(206, 255, 231);
    width: 25vh;
    height: 15vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-content: space-evenly;
}
#sideMenu a{
    text-decoration: none;
    color: inherit;
}