/*CAROUSEL*/
#carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

#carouselContent {
    margin-top: 5%;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 5%;
}

#carouselContent span {
    font-size: 7vh;
    margin: 2%;
}

.slide {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}
.slide img{
    height: 100%;
    width: 100%;
}

.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prevBtn {
    left: 0;
}

.nextBtn {
    right: 0;
}

/*ABOUT US*/
#aboutUs {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#aboutUsText {
    display: flex;
    width: 80%;
}

/*NON SELECTABLE ITEMS*/
#login{
    user-select: none;
}
img{
    user-select: none;
}

/*CATEGORIES*/
#categories{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
}
#categories a{
    text-decoration: none;
    color: inherit;
}