main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

/*RECOMENDED*/
.recomended{
    height: 40%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.recomended span{
    font-size: larger;
    color: #392818;
}

.imgs img{
    height: 35vh;
    width: 30vh;
}


/*ABOUT US*/
.aboutUs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 70%;
}

.profileImgs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.profileImgs2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}
.circleImg img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.profileDescriptions{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.description span{
    font-size: large;
}

@media (max-width: 896px){
    #responsive{
        width: 120px;
        height: 160px;
    }
}

@media (max-width:460px){
    #responsive{
        width: 60px;
        height: 80px;
    }

    .aboutUs{
        font-size: small;
    }
    .aboutUs img{
        height: 60px;
        width: 60px;
    }

    .recomended{
        height: 3%;
        margin-top: 150px;
    }

    .dogs{
        height: 15%;
        align-items: flex-end;
    }

    main{
        height: 200vh;
    }

    body{
        height: 190vh;
    }
}