body {
    height: 90vh;
    overflow: hidden;
}

main::before {
    margin-top: 4%;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: #392818;
    z-index: -1;
}

main::after {
    margin-top: 4%;
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #ffffcc;
    z-index: -1;
    border-radius: 30px;
}

main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.text {
    display: flex;
    height: 10%;
    width: 80%;
    flex-direction: row;
    align-items: center;
    margin-top: 160px;
    justify-content: space-between;
}
.register{
    margin-top: 15px;
}

.text span {
    font-size: x-large;
    color: #ffffcc;
}

.click {
    display: flex;
    height: 35px;
    background-color: #ffffcc;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.click span {
    color: #392818;
}

.loginTxt {
    margin-right: 25%;
    width: 20%;
}

.loginTxt h1 {
    color: #392818;
    margin-left: 63%;
}

.sect {
    width: 100%;
    align-self: flex-start;
    height: 100%;
}

.sect {
    display: flex;
    align-self: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.img {
    align-self: flex-start;
    height: 100%;
    width: 55%;
    margin-top: 30px;
    background-color: #392818;
    border-radius: 100%;
}

.img img {
    height: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.form img {
    width: 20%;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form input {
    border-radius: 15px;
    height: 30px;
}

form button {
    height: 30px;
    width: 100px;
    border-radius: 15px;
    color: #392818;
}

form span {
    font-size: x-large;
    color: #392818;
}

.regContainer {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reg {
    display: flex;
    flex-direction: column;
}

@media (max-width: 720px) {
    main::before {
        margin-top: 4%;
        content: "";
        left: 0;
        width: 45%;
        position: fixed;
        top: 0;
        height: 100%;
        background-color: #392818;
        z-index: -1;
    }

    main::after {
        margin-top: 4%;
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background-color: #ffffcc;
        z-index: -1;
        border-radius: 30px;
    }

    body{
        height: 90vh;
    }

    .img img {
        height: 80%;
    }

    form {
        height: 80%;
        margin-right: 100%;
    }
    #formLogin{
        margin-left: 20%;
    }
    
    .img {
        height: 80%;
        width: 100%;
    }

    header, footer{
        width: 100%;
    }

    form button{
        margin-left: 80%;
    }
}

@media (max-width: 460px) {
    main::after {
        margin-top: 4%;
        content: "";
        left: 0;
        width: 100%;
        position: fixed;
        top: 0;
        height: 100%;
        background-color: #392818;
        z-index: -1;
    }

    .loginTxt h1{
        display: none;
    }
    .form span{
        color:#ffffcc;
    }

    .img {
        display: none;
    }
    
    .text{
        margin-top: 100px;
        justify-content: center;
        margin-left: 17%;
    }

    #formImg{
        width: 80px;
    }
    
    .loginTxt h1{
        margin-left: 20px;
    }

    form{
        height: 100%;
        margin: 0px;
        align-items: center;
    }
    form button{
        margin: 0px;
    }

    .regContainer{
        flex-direction: column;
    }

    #formLogin{
        margin-left: 0%;
    }

    .register{
        height: 30vh;
        margin-top: 0px;
    }

    #loginText{
        margin-top: 50%;
    }

    .reg{
        align-items: center;
    }
    .reg input{
        width: 25vh;
    }
}