main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*TEXT*/
.text {
  display: flex;
  width: 35%;
  align-self: flex-start;
  margin-left: 2vh;
  margin-bottom: 0px;
  background-color: #ffffcc;
  border-radius: 15px;
}

.textStartFinal {
  margin: 2vh;
  margin-top: 10%;
  background-color: #ffffcc;
  border-radius: 15px;
}

#title {
  background-color: #392818;
  height: 45px;
  width: auto;
  color: #ffffcc;
  border-radius: 15px;
}
.title1{
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: inherit;
}

/*CARDS*/
.products {
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3vh;
  margin-right: 0px;
  align-self: flex-end;
  flex-direction: row;
}

.cards {
  width: 100%;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #392818;
  border-radius: 15px;
}

.card {
  position: relative;
  background: transparent;
  width: 300px;
  height: 300px;
  border: none;
}

.card:hover {
  width: 300px;
}

.card .container-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffcc;
  width: 190px;
  height: 190px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 3px 1px #1818183d, 2px 2px 3px #18181865, inset 2px 2px 2px #ffffff;
  transition: all .3s ease-in-out, opacity .3s;
  transition-delay: .6s, 0s;
}

.card:hover .container-image {
  opacity: 0;
  border-radius: 8px;
  transition-delay: 0s, .6s;
}

.card .container-image .image-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px #1818188a);
  transition: all .3s ease-in-out;
  transition-delay: .4s;
}

.card:hover .container-image .image-circle {
  opacity: 0;
  transition-delay: 0s;
}

.card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffcc;
  padding: 20px;
  width: 190px;
  height: 190px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 3px 1px #1818183d, 2px 2px 3px #18181865, inset 2px 2px 2px #ffffff;
  visibility: hidden;
  transition: .3s ease-in-out;
  transition-delay: 0s;
  z-index: 1;
}

.card:hover .content {
  width: 290px;
  height: 190px;
  visibility: visible;
  transition-delay: .5s;
}

.card .content .detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .3s ease-in-out;
  transition-delay: 0s;
}

.card:hover .content .detail {
  color: #181818;
  opacity: 100%;
  transition: 1s;
  transition-delay: .3s;
}

.card .content .detail span {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 800;
}

.card .content .detail button {
  background: #b8854b;
  margin-top: auto;
  width: 75px;
  height: 25px;
  color: #ffffff;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  transition: .3s ease-in-out;
}

.card .content .detail button:hover {
  background: #d39f63;
}

.card .content .product-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card .content .product-image .box-image {
  display: flex;
  position: absolute;
  top: 0;
  left: -25%;
  width: 100%;
  height: 115%;
  opacity: 0;
  transform: scale(.5);
  transition: all .5s ease-in-out;
  transition-delay: 0s;
}

.card:hover .content .product-image .box-image {
  top: -25%;
  left: 0;
  opacity: 100%;
  transform: scale(1);
  transition-delay: .3s;
}

.card .content .product-image .box-image .img-product {
  width: 7rem;
}

@media (max-width: 720px){
  .text{
    display: none;
  }

  .cards {
    width: 100vh;
  }
  
  .card {
    position: relative;
    background: transparent;
    width: 300px;
    height: 300px;
    border: none;
  }

  .products{
    justify-content: unset;
  }

  .textStartFinal{
    margin-top: 20%;
  }
}