main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*FILTER*/
.filterContainer{
    display: flex;
    align-self: flex-end;
    font-size: 4vh;
    margin: 15px;
}

#filter{
    font-size: 3vh;
    border-radius: 15px;
    height: 7vh;
}

/*TEXT*/
.text{
    display: flex;
    width: 30%;
    align-self: flex-start;
    margin-left: 2vh;
    margin-bottom: 0px;
}

.textStartFinal{
    margin: 2vh;
    margin-top: 0px;
}

/*CARDS*/
.products{
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3vh;
    margin-right: 0px;
    align-self: flex-end;
    flex-direction: row;
}
.cards{
    width: 70%;
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkcyan;
    border-radius: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    width: 30vh;
    border-color: aquamarine;
    border-style: solid;
    mask-border-width: 15px;
    border-radius: 15px;
    background-color: aliceblue;
}